<nav
  class="mt-16 flex w-full h-8 justify-center items-center bg-violet-600 text-white"
>
  <div
    class="flex w-full md:w-2/3 justify-between items-baseline font-semibold"
  >
    <span
      >© Copyright <%= new Date().getFullYear() %> Wannaporn Chokvisavapornkul
      Company
    </span>
    <span>Tel: 0618963188</span>
  </div>
</nav>
