<%- include('components/header') -%> <%- include('components/banner') -%> <%-
include('components/searchbox') -%>
<div class="mt-12 rounded-md shadow-md flex w-full md:w-2/3 px-8 py-4 bg-white">
  <div class="border-l-8 border-violet-500 flex flex-col w-full px-4">
    <span class="text-xl text-violet-500 font-bold">Ming Ming Airline</span>
    <div class="grid grid-flows-row grid-cols-4 mt-2">
      <div class="flex flex-col">
        <span class="font-semibold">Take off</span>
        <span>Bangkok</span>
        <span>Suvarnabhumi Airport</span>
        <span class="font-semibold text-violet-500 mt-1"
          >30/12/2023 10:00 AM</span
        >
      </div>
      <div class="flex flex-col">
        <span class="font-semibold">Landing</span>
        <span>Chiang Mai</span>
        <span>Chiang Mai Airport</span>
        <span class="font-semibold text-violet-500 mt-1"
          >30/12/2023 12:00 PM</span
        >
      </div>
      <div class="flex flex-col">
        <span class="font-semibold">Total Time</span>
        <span>2 Hours</span>
      </div>
      <div class="flex flex-col">
        <span class="font-semibold">Price</span>
        <span class="text-xl font-bold">2,000 Baht</span>
        <button
          class="px-4 py-2 mt-2 font-semibold rounded-md text-white bg-violet-500 hover:bg-violet-600"
        >
          Book now!
        </button>
      </div>
    </div>
  </div>
</div>
<%- include('components/footer') -%>
